/* shop.css */
/*
.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .title h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  /* gap: 20px;
    
  }
  .addToCartBtn{
    border-radius: 15px;
    color:white;
    background:black;
     
  }
  .addToCartBtn:hover{
    background-color:aqua;
    color:black;
  } */
  

  

/* shop.css */

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .title h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .addToCartBtn{
    border-radius: 15px;
    color:white;
    background:black;
     
  }
  .addToCartBtn:hover{
    background-color:aqua;
    color:black;
  } 
  
  